# ---------- .NET ----------
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.dll
*.pdb
*.exe
project.lock.json
project.assets.json
.vs/

# ---------- Node / React (frontend) ----------
node_modules/
dist/
build/
.vite/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---------- Env / segredos ----------
.env
.env.*
!.env.example

# ---------- IDEs / OS ----------
.idea/
*.swp
.DS_Store
Thumbs.db

# ---------- Docker ----------
# volumes de dados do Postgres são gerenciados pelo Docker (não versionar)

#IA
.agents/
